/**
 * Project scaffolding
 */
/**
 * Helpers
 */
/**
 * UI components
 */
/* line 1, ui/_body.scss */
body {
  font-family: "Roboto Condensed", sans-serif;
}

/* line 1, ui/_container.scss */
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

/* line 5, ui/_header.scss */
.title,
.menu {
  text-align: center;
}

/* line 9, ui/_header.scss */
.menu {
  margin-left: 0;
  list-style: none;
}

/* line 14, ui/_header.scss */
.menu__item {
  display: inline;
}

/* line 1, ui/_posts.scss */
.posts {
  list-style: none;
  margin-left: 0;
  margin-right: 0;
}

/* line 7, ui/_posts.scss */
.posts__post {
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 40px rgba(0, 0, 0, 0.05) inset;
}

/*a*/
/* line 13, ui/_posts.scss */
.post__panel {
  color: inherit;
  display: block;
  text-decoration: none;
}
