.banner {
  background-color: $header-bg-color;
  @include border-radius(1px);
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.title__link {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: inherit;
  }
}

.title__heading {
  @extend .gamma;
}

.title__code {
  opacity: .3;
}

.title--object {
  display: none;

  &::after {
    content: ".";
  }
}

@media (min-width: $screen-sm) {
  .title--object--window {
    display: initial;
  }
}

@media (min-width: $screen-xs) {
  .title--object--console {
    display: initial;
  }
}

.banner__title,
.banner__sub_title,
.profile,
.banner__fine-print {
  text-align: center;
}

.banner__sub_title {
  @extend .epsilon;
  font-style: italic;
}

.menu__item {
  display: inline;
  margin-left: 1rem;
  margin-right: 1rem;
}

.profile__picture {
  background-image: url("../apple-touch-icon-precomposed.png");
  background-repeat: no-repeat;
  width: 152px;
  height: 152px;
  margin: 1rem auto;
  @include border-radius(152px / 2);
}

.profile__description {
  font-style: italic;
}

/*ul*/.social__menu {
  @extend %bare-list;
}

.social__menu__item a {
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  @include hide-text();
}

.social__menu__item--twitter a {
  background-image: url(../img/social-media/twitter.svg);
}

.social__menu__item--github a {
  background-image: url(../img/social-media/github.svg);
}

.social__menu__item--facebook a {
  background-image: url(../img/social-media/facebook.svg);
}

.banner__fine-print {
  margin-bottom: 0;
}
