.header {
}

.title,
.menu {
  text-align: center;
}

.menu {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.menu__item {
  display: inline;
  // margin-left: $base-spacing-unit;
  // margin-right: $base-spacing-unit;
}
