.highlight {
  padding: 1rem;
  margin: 1rem auto;
  @include border-radius(1px);
  overflow: auto;
}

img {
  display: block;
  margin: 1rem auto;
}

.thumbnails {
  img {
    display: inline-block;
  }
}

code {
  background-color: $base-bg-color;
  color: #de935f;
  @include border-radius(1px);
  padding: .5rem;
}

hr {
  border: 2px solid $base-bg-color;
}

.gist {
  text-shadow: none;
}
