.highlight {
  padding: 1rem;
  margin: 1rem auto;
  @include border-radius(1px);
  overflow: auto;
}

img {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
}

.thumbnails {
  img {
    display: inline-block;
  }
}

code {
  background-color: $base-bg-color;
  color: #de935f;
  @include border-radius(1px);
  padding: .5rem;
}

hr {
  border: 2px solid $base-bg-color;
}

.gist {
  text-shadow: none;
}

blockquote {
  font-style: italic;
  position: relative;

  &::before {
    content: "\201C";
    @extend .tera;
    opacity: .2;
    position: absolute;
    top: -2.5rem;
    left: -1.5rem;
  }
}
