.highlight {
  padding: 0 1rem;
  margin: 1rem auto;
  @include border-radius(1px);
  overflow: auto;
}

img {
  @include border-radius(1px);
  box-shadow: 0 0 5px 0 rgba($base-bg-color, 0.5);
  display: block;
  margin: 1rem auto;
  max-width: 100%;
}

.thumbnails {
  img {
    display: inline-block;
  }
}

p code {
  background-color: $base-bg-color;
  color: #de935f;
  @include border-radius(1px);
  padding: .25rem .5rem;
  margin: 0 .25rem;
}

hr {
  border: 2px solid $base-bg-color;
}

.gist {
  text-shadow: none;
}

blockquote {
  font-style: italic;
  position: relative;

  &::before {
    content: "\201C";
    @extend .tera;
    opacity: .2;

    position: absolute;
    top: -2.5rem;
    left: -1.5rem;
  }
}

/*ul*/.page__tags {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page__tag {
  background-color: $base-theme-color;
  @include border-radius(1px);
  display: inline-block;
  font-size: $small-print-size;
  font-style: italic;
  margin: 0 .25rem;
  padding: 0 .5rem 0 1rem;
  position: relative;

  &::before {
    background-color: $post-bg-color;
    content: "";
    display: inline-block;
    width: .4rem;
    height: .4rem;
    position: absolute;
    @include border-radius(.2rem);
    top: .35rem;
    left: .2rem;
  }
}
