.posts {
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
}

.posts__post {
  margin-bottom: 1rem;
  background-color: $post-bg-color;

  &:hover {
    background-color: $post-bg-hover-color;
  }
}

/*a*/.post__panel {
  color: inherit;

  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: inherit;
  }

  display: block;
  height: 100%;
  padding: $post-padding;

  text-decoration: none;
}
