.posts {
  @extend %bare-list;
}

.post--single {
  background-color: $post-bg-color;
  padding: $post-padding;
  @include border-radius(1px);
  position: relative;
}

.post--multiple {
  margin-bottom: 1rem;
  background-color: $post-bg-color;
  @include border-radius(1px);

  &:hover {
    background-color: $post-bg-hover-color;
  }

  position: relative;
}

/*a*/.post__panel {
  color: inherit;

  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: inherit;
  }

  display: block;
  height: 100%;
  padding: $post-padding;

  text-decoration: none;
}

.post__title {
  @extend .delta;
}

.post__timestamp {
  background-color: $base-theme-color;
  font-size: $small-print-size;

  @include border-radius(1px);

  position: absolute;
  top: 0;
  right: 0;
  padding: .25rem;
}
