.posts {
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
}

.posts__post {
  // margin: (3 * $base-spacing-unit) $base-spacing-unit;

  @include paper;
}

/*a*/.post__panel {
  color: inherit;

  display: block;
  // padding: $base-spacing-unit;

  text-decoration: none;
}

// @media (min-width: $desk-start) {
//   .posts__post {
//     @include transform(rotateZ(0) translateX(0) translateY(0));
//   }

//   .posts__post:hover {
//     @include paper-shuffle;
//     @include transition-property(transform);
//     @include transition-duration(2s);
//     @include transition-timing-function(ease-in);
//   }

//   .posts__post:hover::before,
//   .posts__post:hover::after {
//     @include paper;
//     @include paper-shuffle-pseudo;
//   }

//   .posts__post:hover::before {
//     @include paper-shuffle-negative;
//   }

//   .posts__post:hover::after {
//     @include paper-shuffle-positive;
//   }
// }
