.posts {
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
}

.posts__post {
  margin: 2rem 1rem;

  @include border-radius(1px);
}

/*a*/.post__panel {
  color: inherit;
  background-color: $post-bg-color;

  &:hover,
  &:focus,
  &:active {
    background-color: $post-bg-hover-color;
  }

  display: block;
  height: 100%;
  padding: 1rem;

  text-decoration: none;
}
