<footer class="banner">
  <div class="profile  profile__picture"></div>
  <div class="profile  profile__description">
    <p>{{ site.description }}</p>
  </div>
  <div class="profile  profile__social">
    <ul class="social__menu">
      <li class="menu__item  social__menu__item  social__menu__item--twitter">
        <a href="https://twitter.com/rishabhsrao" title="twitter.com/rishabhsrao">Twitter</a>
      </li>
      <li class="menu__item  social__menu__item  social__menu__item--github">
        <a href="https://github.com/rishabhsrao" title="github.com/rishabhsrao">Github</a>
      </li>
      <li class="menu__item  social__menu__item  social__menu__item--facebook">
        <a href="https://facebook.com/rishabhsrao" title="facebook.com/rishabhsrao">Facebook</a>
      </li>
    </ul>
  </div>
</footer> <!-- /.banner -->
