<footer class="banner">
  <div class="profile  profile__picture"></div>
  <div class="profile  profile__description">
    <p>{{ site.description }}</p>
  </div>
  <div class="profile  profile__social">
    <ul class="social__menu">
      <li class="menu__item  menu__item--twitter">
        <a href="https://twitter.com/rishabhsrao">
          <object type="image/svg+xml" data="kiwi.svg">
            Twitter
          </object>
        </a>
      </li>
      <li class="menu__item  menu__item--github">
        <a href="https://github.com/rishabhsrao">Github</a>
      </li>
      <li class="menu__item  menu__item--facebook">
        <a href="https://facebook.com/rishabhsrao">Facebook</a>
      </li>
    </ul>
  </div>
</footer> <!-- /.banner -->
