<header class="banner">
  <div class="banner__title">
    <h1 class="title__heading">
      <a class="title__link" href="/"><code class="title__object  title__object__window">window</code><code class="title__code  title__object  title__object__console">console</code><code class="title__function  title__function__blog">blog(&lsquo;</code>{{ site.title }}<code>&rsquo;);</code></a>
    </h1>
  </div> <!-- /.banner__title -->
  <p class="banner__sub_title">{{ site.sub_title }}</p>
</header> <!-- /.banner -->
