<header class="banner">
  <div class="banner__title">
    <h1 class="title__heading">
      <a class="title__link" href="/"><span class="title__code  title--object  title--object--window">window</span><span class="title__code  title--object  title--object--console">console</span><span class="title__code  title--function  title--function--blog">blog(&lsquo;</span>{{ site.title }}<span class="title__code">&rsquo;);</span></a>
    </h1>
  </div> <!-- /.banner__title -->
  <p class="banner__sub_title">{{ site.sub_title }}</p>
</header> <!-- /.banner -->
