<aside class="banner">
  <div class="profile  profile__picture"></div>
  <div class="profile  profile__description">
    <p>Hi there! I&rsquo;m Rishabh, a web front-end engineer from Bangalore (India). I code in <abbr title="Hyper Text Markup Language">HTML</abbr>, <abbr title="Cascading Style Sheets">CSS</abbr>, JavaScript, Java, C, C++ among others. <a href="{% post_url 2013-03-10-weather-fox %}">WeatherFox</a>, <a href="{% post_url 2010-08-17-chart-glazer %}">Chart Glazer</a>, StackDeck, Citrine Timer, Notifyr, <a href="{% post_url 2013-02-24-jquery-dot-beetooltip %}">beeTooltip</a> and Notebook are some of my open-source projects. When I&rsquo;m away from my laptop, I like to enjoy the simple things in life &mdash; a stroll in the park, reading a book or looking at the night sky.</p>
  </div>
  <div class="profile  profile__social">
    <ul class="social__menu">
      <li class="menu__item  social__menu__item  social__menu__item--twitter">
        <a href="https://twitter.com/rishabhsrao" title="twitter.com/rishabhsrao">Twitter</a>
      </li>
      <li class="menu__item  social__menu__item  social__menu__item--github">
        <a href="https://github.com/rishabhsrao" title="github.com/rishabhsrao">Github</a>
      </li>
    </ul> <!-- /.social__menu -->
  </div> <!-- /.profile.profile__social -->
</aside> <!-- /.banner -->
