<aside class="banner">
  <div class="profile  profile__picture"></div>
  <div class="profile  profile__description">
    <p>Hi! I'm Rishabh, a front-end developer by day and a dabbler of design by night. I &#10084; all things web.</p>
  </div>
  <div class="profile  profile__social">
    <ul class="social__menu">
      <li class="social__menu__item  social__menu__item--twitter">
        <a href="https://twitter.com/rishabhsrao" title="twitter.com/rishabhsrao">Twitter</a>
      </li>
      <li class="social__menu__item  social__menu__item--github">
        <a href="https://github.com/rishabhsrao" title="github.com/rishabhsrao">Github</a>
      </li>
    </ul> <!-- /.social__menu -->
  </div> <!-- /.profile.profile__social -->
</aside> <!-- /.banner -->
