@font-face {
    font-family: 'fira_sans_otlight';
    src: url('../font/firasansot-light-webfont.eot');
    src: url('../font/firasansot-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/firasansot-light-webfont.woff') format('woff'),
         url('../font/firasansot-light-webfont.ttf') format('truetype'),
         url('../font/firasansot-light-webfont.svg#fira_sans_otlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
