@mixin paper {
  // background-color: $base-ui-background-color;
  border-radius: 3px;
  box-shadow: 0 1px  5px hsla(0, 0, 0, 0.25),
              0 0   40px hsla(0, 0, 0, 0.05) inset;
}

@mixin paper-shuffle {
  position: relative;
}

@mixin paper-shuffle-pseudo {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@mixin paper-shuffle-positive {
  @include transform(rotateZ(1.5deg) translateX(8px) translateY(4px));
}

@mixin paper-shuffle-negative {
  @include transform(rotateZ(-2deg) translateX(-8px) translateY(-4px));
}

