$base-text-color: #dedede;
$base-bg-color: #222222;

$heading-color: #ededed;

$post-bg-color: #333;
$post-bg-hover-color: #444;
$header-bg-color: #3498db;

$link-color: #3498db;
$link-active-color: lighten($link-color, 5%);
