/*
 * Base colors
 */
$base-text-color: #dedede;
$base-bg-color: #222;
$base-theme-color: #3d5883;
$base-text-shadow-color: #222;






/*
 * Heading colors
 */
$header-bg-color: $base-theme-color;
$heading-color: #ededed;






/*
 * Post colors
 */
$post-bg-color: #333;
$post-timestamp-bg-color: $base-theme-color;
$post-padding: 1rem;
$post-bg-hover-color: #444;






/*
 * Link colors
 */
$link-color: lighten(#3498db, 20%);
$link-hover-color: darken($link-color, 5%);
$link-active-color: lighten($link-color, 10%);






/*
 * Media query widths
 */
// Mobile devices - Landscape (480px wide or 30rem wide)
$screen-xs: 30rem;

// Tablet devices - Portrait (768px wide or 48rem wide)
$screen-sm: 48rem;

// Tablet devices - Landscape (900px wide or 56.25rem wide)
$screen-md: 56.25rem;

// Desktop devices (1200px wide or 81.25rem wide)
$screen-lg: 81.25rem;
